// For hidden text
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-hide {
  display: none;

  @media (min-width: 960px) {
    display: inline;
  }
}

.desktop-hide {
  display: inline;

  @media (min-width: 960px) {
    display: none;
  }
}



// change box-sizing model
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "EX 2", Helvetica, Arial, sans-serif;
}