.features {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  transition: padding 0.25s ease-in-out;  
  padding: 10vh 0 10vh 40px;
  justify-content: center;

  @media (min-width: 960px) {
    padding-left: 80px;
  }

  .menu-is-open & {
    will-change: padding;
    transition: padding-left 0.25s ease-in-out;
    
    @media (min-width: 960px) {
      padding-left: 380px;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 1.25;
    color: #345972;
    font-weight: 400;
    margin: 0 0 25px;
    max-width: 910px;
    padding-right: 40px;

    @media (min-width: 960px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #4e5d60;
    font-weight: 300;
    max-width: 910px;
    padding-right: 40px;

    @media (min-width: 960px) {
      font-size: 18px;
    }
  }

  &__slider {
    margin-top: 100px;
  }

  &__item-title {
    font-size: 16px;
    line-height: 1;
    color: #4e5d60;
    margin: 0 0 20px 0;
    font-weight: 400;

    img {
      display: none;
    }

    @media (min-width: 960px) {
      font-size: 24px;
      line-height: 1.13;
      margin-bottom: 25px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      img {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 44px;
        width: 44px;
        height: 44px;
        margin-right: 27px;
      }
    }
  }

  &__item-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #4e5d60;
    margin: 0;
    text-align: justify;

    @media (min-width: 960px) {
      font-size: 18px;
    }
  }

  &__slider {
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 40px;

    @media (min-width: 960px) {
      padding-left: 50px;
      margin-left: -50px;
      padding-right: 0;
    }
  }

  &__slider-controls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50px;
  }

  &__slider-btn {
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg_slider-button.png");

    &_next {
      transform: rotate(180deg);
    }

    &_is-disabled {
      opacity: 0.5;
    }
  }

  &__slide {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100%;
    will-change: opacity;
    opacity: 0.5;

    @media (min-width: 960px) {
      width: 60%;
      flex-basis: 60%;
    }

    &_is-visible {
      opacity: 1;
    }

    & + & {
      margin-left: 125px;
    }
  }

  

  &__item {
    & + & {
      margin-top: 30px;
    }
  }
}