.features {
  display: flex;
  min-height: 100vh;
  padding: 10vh 40px 7vh;

  @media (min-width: 960px) {
    padding: 10vh 80px 12vh;
  }

  .menu-is-open & {
    will-change: padding;
    transition: padding-left 0.25s ease-in-out;
    
    @media (min-width: 960px) {
      padding-left: 380px;
    }
  }
}